body {
    display: flex;
}
.product {
    margin: 15px;
    width: 200px;
}
.box {
    display: block;
    width: 200px;
    height: 200px;
    
}
button {
    margin: 15px 0 0 0;
    display: block;
}